---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Upfront | Childcare Data Platform">
  <main>
    <h1 class="text-4xl font-bold text-brand-navy p-8">Layout Test</h1>
  </main>
</Layout>
